---
http_interactions:
- request:
    method: get
    uri: https://finnhub.io/api/v1/stock/symbol?exchange=ME&token=<FINNHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1633202725'
    body:
      encoding: ASCII-8BIT
      # cleaned many tickers for speed, dont need them. usb-rm will be filtered
      string: '[{"currency":"RUB","description":"US BANCORP","displaySymbol":"USB-RM.ME","figi":"BBG011MP4NJ1","mic":"MISX","symbol":"USB-RM.ME","type":"Common
        Stock"},{"currency":"RUB","description":"MOSENERGO PJSC","displaySymbol":"MSNG.ME","figi":"BBG004S687X7","mic":"MISX","symbol":"MSNG.ME","type":"Common
        Stock"}]'
  recorded_at: Sat, 02 Oct 2021 19:24:26 GMT
recorded_with: VCR 6.0.0
