---
http_interactions:
- request:
    method: get
    uri: https://finnhub.io/api/v1/stock/symbol?exchange=US&token=<FINNHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1633208074'
    body:
      encoding: ASCII-8BIT
      string: '[{"currency":"USD","description":"PEPINNINI MINERALS LTD","displaySymbol":"PEIMF","figi":"BBG000NSVVL6","mic":"OOTC","symbol":"PEIMF","type":"Common Stock"},
        {"currency":"USD","description":"Test","displaySymbol":"ZXIET","figi":"","mic":"IEXG","symbol":"ZXIET","type":""}]'
  recorded_at: Sat, 02 Oct 2021 20:53:36 GMT
recorded_with: VCR 6.0.0
