---
http_interactions:
- request:
    method: get
    uri: https://finnhub.io/api/v1/stock/profile2?symbol=GMKN.ME&token=<FINNHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1638669854'
    body:
      encoding: ASCII-8BIT
      string: '{"country":"RU","currency":"RUB","exchange":"MOSCOW EXCHANGE","finnhubIndustry":"Metals
        \u0026 Mining","ipo":"2001-06-15","logo":"https://finnhub.io/api/logo?symbol=GMKN.ME","marketCapitalization":3467475,"name":"GMK
        Noril''skiy Nikel'' PAO","phone":"74957877667.0","shareOutstanding":152.863397,"ticker":"GMKN.ME","weburl":"https://www.nornickel.ru/"}'
  recorded_at: Sun, 05 Dec 2021 02:03:14 GMT
recorded_with: VCR 6.0.0
